
.meme {
  color: teal;
  font-family: cursive;
  font-size: 2em;
}

.script {
  color: #00aeff;
  font-size: 1em;
  padding-top: 100px;
  width: 95%;
  font-family: Georgia;
  text-align: center;
}

.red-text {
  color: red;
}

.teset {
  background-color: #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@font-face {
  font-family: "Glegoo";
  src: url(../fonts/Glegoo-Regular.ttf) format('truetype');
}

body {
  background-color: rgba(0, 69, 255, 0.3);
}

strong {
  font-weight: bold;
  font-family: "Glegoo";
  color: teal
}