
.meme {
  color: teal;
  font-family: cursive;
  font-size: 2em;
}

.script {
  color: #00aeff;
  font-size: 1em;
  padding-top: 100px;
  width: 95%;
  font-family: Georgia;
  text-align: center;
}

.red-text {
  color: red;
}

.teset {
  background-color: #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}